<!DOCTYPE html>
<html>

#set($webRoot=$!link.getContextPath())

<head>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <title>自助分析平台</title>
	<link rel="stylesheet" href="$!{webRoot}/asset-c/css/di-console.css?__di__=1_0_0" />
</head>

<body>
	<div id="header" class="head">
	    <div class="frame-width">
    		<div class="logo-left"></div>
    		<div class="global-menu-area">
                <div class="global-menu q-global-menu"></div>
    		</div>
    		<div class="logo-right">
    			<div class="login">
    				<span>欢迎 <b><span id="userName"></span></b></span>
    				<a href="#" id="Logout" >[退出]</a>
    				<span>|</span>
    				<a href="mailto:mengran?subject=Questions and Suggestions for Data-Insight" id="WeedBack">反馈问题及建议</a>
    				<span style="display:none">|</span>
    				<a style="display:none" href="help.html" class="wired-a" target="_blank">帮助</a>
    			</div>
    		</div>
    		<div class="clear"></div>
		</div>
	</div>
	
	<div class="content-real">
    	<div class="content-inner">
    	<div align="right"><a href="showdatasource.action?productLine=$productLine">返回</a></div>
    		<form method="post" enctype ="multipart/form-data" action="addds.action">
    			<table align="center">
    				<tr>
    					<td>数据源名称:</td><td><input type="text" name="dsInfo.name"></td>
    				</tr>
    				<tr>
    					<td>是否OLAP数据源:</td><td><input type="radio" name="dsInfo.isOlap" value="1" checked="true" onclick="document.getElementById('schema_tr').style.display='block'">是</input> <input type="radio" name="dsInfo.isOlap" value="0" onclick="document.getElementById('schema_tr').style.display='none'">否</input></td>
    				</tr>
    				<tr id="schema_tr">
    					<td>schema文件:</td><td><input type="file" name="schemaFile"></td>
    				</tr>
    				<tr>
    					<td>数据源描述:</td><td><input type="text" name="dsInfo.description"></td>
    				</tr>
    				<tr>
    					<td>数据库驱动:</td><td><input type="text" name="dsInfo.driverClass" value="com.mysql.jdbc.Driver"></td>
    				</tr>
    				<tr>
    					<td>数据源连接池最大连接数:</td><td><input type="text" name="dsInfo.maxPoolSize" value="30"></td>
    				</tr>
    				<tr>
    					<td>数据源连接池最小连接数:</td><td><input type="text" name="dsInfo.minPoolSize" value="3"></td>
    				</tr>
    				<tr>
    					<td>数据源连接池初始连接数:</td><td><input type="text" name="dsInfo.initialPoolSize" value="3"></td>
    				</tr>
    				<tr>
    					<td>数据源SCOPE:</td><td><input type="radio" name="dsInfo.scope" value="DEV" >DEV</input> <input type="radio" name="dsInfo.scope" value="PRODUCTION" >PRODUCTION</input></td>
    				</tr>
    				<tr style="display:none">	
    					<td>产品线:</td><td><input type="hidden" name="dsInfo.prodLine" value="$productLine">
    						<input type="hidden" name="productLine" value="$productLine" /></td>
    				</tr>
    				<tr>
    					<td><input type="submit" /></td>
    					<td><input type="reset" /></td>
    				</tr>
    			</table>
    			
    		</form>
    	
    	
    	</div>
	</div>
	
	<div class="foot frame-width" align="center">
		<span>友情链接：Pulse</span>
		<span>&nbsp;|&nbsp;</span>
		<span>&copy;2013&nbsp;Baidu</span>
	</div>

	
</body>
</html>
