<!DOCTYPE html>
<html>

#set($webRoot=$!link.getContextPath())

<head>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <title>自助分析平台</title>
    <link rel="stylesheet" href="../asset/css/-di-console.css?__di__=2_0_1" />
</head>

<body>
	<div id="header" class="head">
	    <div class="frame-width">
    		<div class="logo-left"></div>
    		<div class="global-menu-area">
                <div class="global-menu q-global-menu"></div>
    		</div>
    		<div class="logo-right">
    			<div class="login">
    				<span>欢迎 <b><span id="userName"></span></b></span>
    				<a href="#" id="Logout" >[退出]</a>
    				<span>|</span>
    				<a href="mailto:mengran?subject=Questions and Suggestions for Data-Insight" id="WeedBack">反馈问题及建议</a>
    				<span style="display:none">|</span>
    				<a style="display:none" href="help.html" class="wired-a" target="_blank">帮助</a>
    			</div>
    		</div>
    		<div class="clear"></div>
		</div>
	</div>
	
	<div class="content-real">
    	<div class="content-inner">
    	   <div class="q-global-main main"></div>
    	</div>
	</div>
	
	<div class="foot frame-width" align="center">
		<span>友情链接：<a href="http://pulse.baidu.com" target="_blank" style="color:#666666">Pulse</a></span>
		<span>&nbsp;|&nbsp;</span>
		<span>&copy;2013&nbsp;Baidu</span>
	</div>

    <script src="$!{webRoot}/asset/-di-console.js?__di__=2_0_2" ></script>
    <script src="$!{webRoot}/asset-p/di-stub.js?__di__=2_0_2" ></script>
    
    <script type="text/javascript">
        (function(NS) {
            NS.xui.XView.start(
                'di.console.frame.ui.MainPage', 
                { 
                    pageClass: 'di.console.frame.ui.ConsoleFrame',
                    webRoot: '${webRoot}',
                    globalType: 'CONSOLE',
                    serverTime: '$!serverTime',
                    bizKey: '$!bizKey',
                    globalMenu : {
                        selMenu: {
                            menuId: 100000,
                            menuName: "报表编辑",
                            menuPage: "di.console.frame.ui.ConsoleFrame"
                        },
                        menuList: []
                    }
                }
            );
        })(window);
	</script>
	
</body>
</html>
