结果如下：
<table>
	## 首先先从结果集中将key取出，作为表头展示
	#foreach($map in $result)
	     #set($r = $velocityCount)
	     ## 只需取第一行即可
	     #if($r == 1)
	      <tr>
			#foreach($obj in ${map.keySet()})
				<th>$!{obj}</th>
			#end
		  </tr>
		 #end
	#end
	## 接下来再循环展示数据
	#foreach($map in $result)
	  <tr>
		#foreach($obj in ${map.keySet()})
			<td> $!{map.get($obj)} &nbsp;&nbsp; </td>
		#end
	  </tr>
	#end
</table>

	


	