<!DOCTYPE html>
<html>

#set($webRoot=$!link.getContextPath())

<head>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <title>自助分析平台</title>
	<link rel="stylesheet" href="$!{webRoot}/asset-c/css/di-console.css?__di__=1_0_0" />
</head>

<body>
	<div id="header" class="head">
	    <div class="frame-width">
    		<div class="logo-left"></div>
    		<div class="global-menu-area">
                <div class="global-menu q-global-menu"></div>
    		</div>
    		<div class="logo-right">
    			<div class="login">
    				<span>欢迎 <b><span id="userName"></span></b></span>
    				<a href="#" id="Logout" >[退出]</a>
    				<span>|</span>
    				<a href="mailto:mengran?subject=Questions and Suggestions for Data-Insight" id="WeedBack">反馈问题及建议</a>
    				<span style="display:none">|</span>
    				<a style="display:none" href="help.html" class="wired-a" target="_blank">帮助</a>
    			</div>
    		</div>
    		<div class="clear"></div>
		</div>
	</div>
	
	<div class="content-real">
    	<div class="content-inner">
    	<div align="right"><a href="showaddds.action?productLine=$productLine">添加数据源</a></div>
   	<table align="center">
   	<tr>
   	<th>
   	名称
   	</th>
   	<th>
   	是否OLAP数据源
   	</th>
   	<th>
   	schema文件名称
   	</th>
   	
   	<th>
   	所属产品线
   	</th>
   	<th>
   	数据库驱动
   	</th>
   	<th>
   	最大连接池数
   	</th>
   	<th>
   	最小连接池数
   	</th>
   	<th>
   	初始化连接池数
   	</th>
   	<th>
   	SCOPE
   	</th>
   	<th>
   	描述
   	</th>
   	<th>
   	操作
   	</th>
   	</tr>
   	
   	#foreach($dsInfo in $!datasourceInfos)
   		<tr align="center">
	     <td>
	     	$dsInfo.name
	     </td>
	      <td>
	     	#if ($!dsInfo.isOlap && $dsInfo.isOlap==1)
			    是
			#else
			    否
			#end  
	     </td>
	      <td>
	     	$!dsInfo.schemaFilename
	     </td>
	      
	      <td>
	     	$dsInfo.prodLine
	     </td>
	     <td>
	     	$dsInfo.driverClass
	     </td>
	     <td>
	     	$dsInfo.maxPoolSize
	     </td>
	     <td>
	     	$dsInfo.minPoolSize
	     </td>
	     <td>
	     	$dsInfo.initialPoolSize
	     </td>
	     <td>
	     	$dsInfo.scope
	     </td>
	     <td>
	     	$dsInfo.description
	     </td>
	      <td>
	     	<a href="showConnInfos.action?id=$dsInfo.id&productLine=$productLine">管理数据库连接 </a> &nbsp;&nbsp; <a href="delds.action?id=$dsInfo.id&productLine=$productLine">删除</a>&nbsp;&nbsp; <a href="activeRemoteDatasource.action?id=$dsInfo.id&productLine=$productLine">激活数据源</a>
	     </td>
	    </tr>
	#end
	
	</table>
    	</div>
	</div>
	
	<div class="foot frame-width" align="center">
		<span>友情链接：<a href="#" target="_blank" style="color:#666666">Pulse</a></span>
		<span>&nbsp;|&nbsp;</span>
		<span>&copy;2013&nbsp;Baidu</span>
	</div>

	
</body>
</html>
