#**
 * 公共宏定义
 *#

## 程序根目录
#set($webRoot=$!link.getContextPath())


#**
 * 引入CSS
 *#
#macro (comCSS)
    <link rel="stylesheet" href="$!{webRoot}/asset-p/css-ist/di-product.css?__v__=$!jsonUtils.version()" />
#end


#**
 * 引入JS
 *#
#macro (comJS)
    <script src="$!{webRoot}/asset-p/xcore.js?__v__=$!jsonUtils.version()" ></script>
    <script src="$!{webRoot}/asset-p/highcharts.js?__v__=$!jsonUtils.version()" ></script>
    <script src="$!{webRoot}/asset-p/ecui.js?__v__=$!jsonUtils.version()" ></script>
    <script src="$!{webRoot}/asset-p/xui-ui.js?__v__=$!jsonUtils.version()" ></script>
    <script src="$!{webRoot}/asset-p/di-product.js?__v__=$!jsonUtils.version()" ></script>
#end


#**
 * DI进入
 *#
#macro (enterDI)
    <script type="text/javascript">
        (function(NS) {
            NS.xui.XView.start(
                'di.product.display.ui.LayoutPage',
                {
                    externalParam: $!jsonUtils.toJson($!externalParam),
                    reportTemplateId: '$!jsonUtils.escapeInJStr($!reportTemplateId)',
                    diAgent: '$!jsonUtils.escapeInJStr($!diAgent)',
                    prodDef: {
                        depictPath: '$!jsonUtils.escapeInJStr($!depictPath)',
                        diVersion: '$!jsonUtils.version()'
                    },
                    extraOpt: NS.__$DI__OPT$__
                }
            );
            delete NS.__$DI__OPT$__;
        })(window);
    </script>
#end
