<!DOCTYPE html>
<html>

#set($webRoot=$!link.getContextPath())

<head>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <title>商机池</title>
	<link rel="stylesheet" href="$!{webRoot}/asset-p/css-pool/di-product.css?__v__=$!jsonUtils.version()" />
</head>

<body class="di-page-html-body"><!-- escape enter
    --><div data-o_o-di="BODY" class="di-page-div-body">

        <div data-o_o-di="snippet-biz-pool-1">
            <div data-o_o-di="snippet-biz-pool-1.component-biz-pool-9">
                <div data-o_o-di="snippet-biz-pool-1.vui-biz-pool-9">
                </div>
            </div>

            <div data-o_o-di="snippet-biz-pool-2">
                <div data-o_o-di="snippet-biz-pool-2.component-biz-pool-2">
                    <div data-o_o-di="snippet-biz-pool-2.vui-biz-pool-2">
                    </div>
                </div>
            </div>

            <div data-o_o-di="snippet-biz-pool-3">
                <div data-o_o-di="snippet-biz-pool-3.component-biz-pool-3">
                    <div class="di-table-area">
                        <div data-o_o-di="snippet-biz-pool-3.vu-biz-pool-breadcrumb1">
                        </div>
                        <div data-o_o-di="snippet-biz-pool-3.vui-biz-pool-3">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script type="text/javascript">
            (function(NS) {
                NS.WEB_ROOT = '$!{webRoot}';
                NS.HTML_DATA = {
                    globalType: 'PRODUCT',
                    userId: '5',
                    serverTime: '$!serverTime'
                };
            })(window.__$DI__NS$__ = {});
        </script>

        <script src="$!{webRoot}/asset-p/xcore.js?__v__=$!jsonUtils.version()" ></script>
        <script src="$!{webRoot}/asset-p/highcharts.js?__v__=$!jsonUtils.version()" ></script>
        <script src="$!{webRoot}/asset-p/ecui.js?__v__=$!jsonUtils.version()" ></script>
        <script src="$!{webRoot}/asset-p/di-product.js?__v__=$!jsonUtils.version()" ></script>

        <script type="text/javascript">
            (function(NS) {
                NS.xui.XView.start(
                    'di.product.display.ui.LayoutPage',
                    {
                        externalParam: $!jsonUtils.toJson($!externalParam),
                        reportTemplateId: '$!jsonUtils.escapeInJStr($!reportTemplateId)',
                        diAgent: '$!jsonUtils.escapeInJStr($!diAgent)',
                        funcAuth: $!jsonUtils.toJson($!funcAuth),
                        prodDef: {
                            // 属性名定义，可缺省
                            domAttrName: 'data-o_o-di',
                            depictPath: '$!jsonUtils.escapeInJStr($!depictPath)',
                            diVersion: '$!jsonUtils.version()'
                        }
                    }
                );
            })(window);
        </script>

    </div><!--
--></body>
</html>
