{"status":$!{status}, "data":[
    {"text": "角角01", "value":1001},
    {"text": "角角02", "value":1002},
    {"text": "角角03", "value":1003},
    {"text": "角角04", "value":1004},
    {"text": "角角05", "value":1005}
]}
