{"status":$!{status}, "data":{"dataList":[
    {"ucid": 1001, "account": "cxl", "name":"陈新乐", "email": "chenxinle@baidu.com", "position":"Hello", "state": 1, "sysUnitStr": "226074260742602260742607426074260746074226074260742607426074607474260746074", "sysUnit": "1002", "sex": "1", "telephone": "asdfasdfsadfasdfasdfasdfasdfsadfasfdasfsafdasfdasdfasfdasdfasdf", "mobilePhone": "12312312312", "regDate": "2012-06-01", "idcard": "51030219000000"}, 
    {"ucid": 1002, "account": "cxl", "name":"陈新乐", "email": "chenxinle@baidu.com", "position":"Hello", "state": 1, "sysUnitStr": "系统单元1", "sysUnit": "1003", "sex": "1", "telephone": "26074", "mobilePhone": "12312312312", "regDate": "2012-06-02", "idcard": "51030219000000"}, 
    {"ucid": 1003, "account": "cxl", "name":"陈新乐", "email": "chenxinle@baidu.com", "position":"Hello", "state": 1, "sysUnitStr": "系统单元1", "sysUnit": "1004", "sex": "1", "telephone": "26074", "mobilePhone": "12312312312", "regDate": "2012-06-03", "idcard": "51030219000000"}, 
    {"ucid": 1004, "account": "cxl", "name":"陈新乐", "email": "chenxinle@baidu.com", "position":"Hello", "state": 1, "sysUnitStr": "系统单元1", "sysUnit": "1005", "sex": "1", "telephone": "26074", "mobilePhone": "12312312312", "regDate": "2012-06-04", "idcard": "51030219000000"}, 
    {"ucid": 1005, "account": "cxl", "name":"陈新乐", "email": "chenxinle@baidu.com", "position":"Hello", "state": 1, "sysUnitStr": "系统单元1", "sysUnit": "1002", "sex": "1", "telephone": "26074", "mobilePhone": "12312312312", "regDate": "2012-06-05", "idcard": "51030219000000"}, 
    {"ucid": 1006, "account": "cxl", "name":"陈新乐", "email": "chenxinle@baidu.com", "position":"Hello", "state": 1, "sysUnitStr": "系统单元1", "sysUnit": "1002", "sex": "1", "telephone": "26074", "mobilePhone": "12312312312", "regDate": "2012-06-06", "idcard": "51030219000000"}, 
    {"ucid": 1007, "account": "cxl", "name":"陈新乐", "email": "chenxinle@baidu.com", "position":"Hello", "state": 1, "sysUnitStr": "系统单元1", "sysUnit": "1002", "sex": "1", "telephone": "26074", "mobilePhone": "12312312312", "regDate": "2012-06-07", "idcard": "51030219000000"}, 
    {"ucid": 1008, "account": "cxl", "name":"陈新乐", "email": "chenxinle@baidu.com", "position":"Hello", "state": 1, "sysUnitStr": "系统单元1", "sysUnit": "1002", "sex": "1", "telephone": "26074", "mobilePhone": "12312312312", "regDate": "2012-06-08", "idcard": "51030219000000"}
], "sortinfo":{"orderby": "$!sortInfo.orderby", "sortby":"$!sortInfo.sortby"}, "pager":{"page":$!pager.page, "pagesize":$!pager.pageSize, "total":$!pager.total}}}
