{"status":$!status, 
    "data": {
        "header":[
            { field:'positionname', name:'岗位名称', cansort:1 }, 
            { field:'unit', name:'系统单元', cansort:1 }, 
            { field:'status', name:'岗位状态'}, 
            { field:'parentposition', name:'父岗位', cansort:1 }, 
            { field:'positiontype1', name:'岗位类型', cansort:1 }, 
            { field:'positiontype2', name:'岗位类型值', cansort:1 } 
        ],
        "records":[
            { id: 1, status: 0, positionname:'岗位名称1', unit:'系统单元1', parentposition:'父岗位1', positiontype1:'岗位类型1', positiontype2:'岗位类型值1' },
            { id: 2, positionname:'岗位名称2', unit:'系统单元2', parentposition:'父岗位2', positiontype1:'岗位类型2', positiontype2:'岗位类型值2' },
            { id: 3, positionname:'岗位名称3', unit:'系统单元3', parentposition:'父岗位3', positiontype1:'岗位类型3', positiontype2:'岗位类型值3' },
            { id: 4, positionname:'岗位名称4', unit:'系统单元4', parentposition:'父岗位4', positiontype1:'岗位类型4', positiontype2:'岗位类型值4' },
            { id: 5, positionname:'岗位名称5', unit:'系统单元5', parentposition:'父岗位5', positiontype1:'岗位类型5', positiontype2:'岗位类型值5' },
        ],
        "pager":{
            "page":$!pager.page, 
            "pagesize":$!pager.pagesize,
            "total":$!pager.total
        },
        "sortinfo": {
            "orderby": "$!sortInfo.orderby", 
            "sortby":"$!sortInfo.sortby"
        }
    }
}
