{"status":$!status, 
    "data":[
            { id: 111, name:'岗位名称1'},
            { id: 222, name:'岗位名称2'},
            { id: 333, name:'岗位名称3'},
            { id: 444, name:'岗位名称4'},
            { id: 555, name:'岗位名称5'}
        ]
}
