结果如下：
<table border="1">
		<thead>
	      <tr>
			#foreach($titleVo in $titleList)
				<th>$!{titleVo.getShowName()}</th>
			#end
		  </tr>
	    </thead>
	## 接下来再循环展示数据
	<tbody>
	#foreach($map in $result)
	  <tr>
		#foreach($titleVo in $titleList)
			<td> $!{map.get($titleVo.getParamKey())} &nbsp;&nbsp;</td>
		#end
	  </tr>
	#end
	</tbody>
</table>

	


	