/**
 * 面包屑
 */
.ui-breadcrumb {
    font-size: 12px;
    margin: 10px 0 6px 0;
}
.ui-breadcrumb-link-item {
    font-weight: bold;
    color: #3366FF;
    text-decoration: none;
}
.ui-breadcrumb-sep {
    padding: 0 5px 0 5px;
}

