/**
 * Table
 */
.ui-table {
    font-size: 12px;
}
.ui-table-head {
    border: 1px solid #9CD167;
    height: 30px;
}
.ui-table-locked-head {
    border: 1px solid #9CD167;
    height: 30px;
    overflow: hidden;
}
.ui-table-layout, 
.ui-table-locked-layout {
    border-left: 1px solid #CCC;
    border-right: 1px solid #CCC;
}
.ui-table-cell {
    background: #FFF;
    border-right: 1px solid #CCC;
    border-bottom: 1px solid #CCC;
    height: 30px;
    line-height: 30px;
    padding: 0 9px;
    margin: 0;
}
.ui-table-hcell, 
.ui-table-rowhcell {
    background: #DCEFD1;
    border-right: 1px solid #9CD167;
    border-bottom: 1px solid #9CD167;
    color: #326700;
    height: 30px;
    line-height: 30px;
    padding: 0 9px;
    margin: 0;
    vertical-align: middle;
    cursor: default;
    font-weight: bold;
}
.ui-table-rowhcell {
    text-align: center;
    text-align: left;
}
.ui-table-hcell-sort,
.ui-table-hcell-sort-none {
    background-image: url(img/icon.png);
    background-position: right -240px;
    background-repeat: no-repeat;
}
.ui-table-hcell-sort-desc {
    background-image: url(img/icon.png);
    background-position: right -296px;
    background-repeat: no-repeat;
}
.ui-table-hcell-sort-asc {
    background-image: url(img/icon.png);
    background-position: right -352px;
    background-repeat: no-repeat;
}
.ui-table-row-hover .ui-table-ccell {
    background: #FCFCC8;
}
.ui-table-row-checked .ui-table-ccell,
.ui-table-row-selected .ui-table-ccell {
    background: #FFFF99;
}
.ui-table-row {
    cursor: pointer;
}
.ui-table-row-hover .ui-table-cell {
    background: #FFFF99;
}
.ui-table-row-hover .ui-table-rowhcell {
    background: #DCEFD1;
}
.ui-table-cell-align-right {
    text-align: right;
}
.ui-table-cell-align-center {
    text-align: center;
}
.ui-table-cell-link {
    color: #3366FF;
    text-decoration: none;
}
.ui-table-tree-item {
    padding-left: 16px;
    position: relative;
}
.ui-table-e-c-icon {
    height: 9px;
    width: 9px;
    overflow: hidden;
    background: url(img/icon.png) 0px 0px no-repeat;
    position: absolute;
    left: 2px;
    top: 10px;
    vertical-align: middle;
    cursor: pointer;
    display: none;
}
.ui-table-expanded-icon {
    background-position: -16px -151px;
    display: block;
}
.ui-table-collapsed-icon {
    background-position: -25px -151px;
    display: block;
}
/* 表格纵向滚动条 */
.ui-table .ui-vscrollbar {
    width: 16px;
    background: #F0F0F0;
    padding: 16px 0;
}
.ui-table .ui-vscrollbar .ui-button {
    cursor: default;
    padding: 0;
    margin: 0;
    background-color: #F2FAEE;
}
.ui-table .ui-vscrollbar .ui-button-hover {
    padding: 0;
    margin: 0;
    cursor: default;
    border-radius: 0;
    -webkit-border-radius: 0;
    -o-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
}
.ui-table .ui-vscrollbar-prev {
    width: 14px;
    height: 14px;
    border: 0;
    background: url(img/icon2.png) -59px -66px no-repeat;
    overflow: hidden;
    border: 1px solid #7EAB5E;
}
.ui-table .ui-vscrollbar-next {
    width: 14px;
    height: 14px;
    border: 0;
    background: url(img/icon2.png) -59px -84px no-repeat;
    overflow: hidden;
    border: 1px solid #7EAB5E;
}
.ui-table .ui-vscrollbar .ui-scrollbar-thumb {
    width: 16px;
    border: 1px solid #7EAB5E;
    background: #F2FAEE;
}
/* 表格横向滚动条 */
.ui-table .ui-hscrollbar {
    height: 16px;
    background: #F0F0F0;
    padding: 0 16px;
}
.ui-table .ui-hscrollbar .ui-button {
    cursor: default;
    padding: 0;
    margin: 0;
    background-color: #F2FAEE;
}
.ui-table .ui-hscrollbar .ui-button-hover {
    padding: 0;
    margin: 0;
    cursor: default;
    border-radius: 0;
    -webkit-border-radius: 0px;
    -o-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
}
.ui-table .ui-hscrollbar-prev {
    width: 14px;
    height: 14px;
    background: url(img/icon2.png) -42px -84px no-repeat;
    overflow: hidden;
    border: 1px solid #7EAB5E;
}
.ui-table .ui-hscrollbar-next {
    width: 14px;
    height: 14px;
    background: url(img/icon2.png) -42px -66px no-repeat;
    overflow: hidden;
    border: 1px solid #7EAB5E;
}
.ui-table .ui-hscrollbar .ui-scrollbar-thumb {
    height: 16px;
    border: 1px solid #7EAB5E;
    background: #F2FAEE;
}

