/*-------------------------------------------------*/
/* 报表控制台(console)公用(包括edit和mgr等公用)    */
/*-------------------------------------------------*/

/**
 * 页面整体
 */
body {
    margin: 0px;
    font-size: 12px;
    padding: 0px;
    min-width: 1200px;
}
.body-real { /* no vertical scroll bar */
    margin: 0;
    font-size: 12px;
    padding: 0px;
    min-width: 1245px;
    overflow: hidden;
    *width: 1254px;
    _width: 1259px;
}
.body-inner {
    min-width: 1280px;
    *width: 1280px;
}
.content-real { /* no vertical scroll bar  */
    min-width: 1245px;
    overflow: hidden;
    *width: 1254px;
    _width: 1259px;
}
/*.content-inner {
    min-width: 1280px;
    *width: 1280px
}*/
.frame-width { /*the same with content-real, ignore IE 6/7*/
    min-width: 1245px;
}
div, 
p{
    margin: 0px;
    padding: 0px;
    font-size: 12px;
}
a {
    text-decoration: none; 
    color: #0066cc;
}

/**
 * 页面头部
 */
.head {
    height: 60px;
    background: url(img/head-middle.png) repeat-x;
}
.logo-left {
    float: left;
    width: 293px;
    height: 60px;
    background: url(img/head-left.png) no-repeat;
}
.logo-right {
    float: right;
    width: 464px;
    height: 60px;
    background: url(img/head-right.png) no-repeat;
}
.login {
    float: right;
    margin: 22px 10px 0px 60px;
}
.login 
span {
    margin-right: 2px;
}
.login 
a {
    margin-right: 2px;
}
.global-menu-area {
    float: left;
    height: 60px;
}

/**
 * 页脚
 */
.foot {
    height: 60px;
    line-height: 60px;
    font-size: 12px;
    background-color: #D4D4D4;
    background: url(img/foot.png) repeat-x;
    color: #666666;
    font-family: arial;
}

/**
 * 页顶菜单
 */
.global-menu {
    overflow: hidden;
    margin-top: 20px;
}
.global-menu-item {
    height: 40px;
    width: 79px;
    background: url(img/iconbizbg.png) 0px 40px repeat-x;
    margin: 0px 2px 0px 2px;
}
.global-menu-item-hover {
    background-position: 0px -80px;
}
.global-menu-item-active, 
.global-menu-item-selected {
    background-position: 0px -40px;
}
.global-menu-item 
a{
    display: block;
    height: 40px;
}
.global-menu-item 
.global-menu-item-text {
    float: left;
    width: 71px;
    height: 40px;
    line-height: 40px;
    color: #666668;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    font-family: "Times New Roman", "微软雅黑", Serif, Georgia;
}
.global-menu-item-selected 
.global-menu-item-text {
    color: white;
}
.global-menu-item-hover 
.global-menu-item-text {
    color: white;
}
.global-menu-item-active 
.global-menu-item-text {
    color: white;
}
.global-menu-item 
.global-menu-item-ledge {
    float: left;
    height: 40px;
    width: 4px;
    background: url(img/iconbizbg.png) 0px 40px no-repeat;
    overflow: hidden;
}
.global-menu-item 
.global-menu-item-redge {
    float: right;
    height: 40px;
    width: 4px;
    background: url(img/iconbizbg.png) 0px 40px no-repeat;
    overflow: hidden;
}
.global-menu-item-hover 
.global-menu-item-ledge {
    background-position: -8px 0px;
}
.global-menu-item-hover 
.global-menu-item-redge {
    background-position: -12px 0px;
}
.global-menu-item-active 
.global-menu-item-ledge {
    background-position: 0px 0px;
}
.global-menu-item-active 
.global-menu-item-redge {
    background-position: -4px 0px;
}
.global-menu-item-selected 
.global-menu-item-ledge {
    background-position: 0px 0px;
}
.global-menu-item-selected 
.global-menu-item-redge {
    background-position: -4px 0px;
}

/**
 *页头页脚之间
 */
.main {
    padding: 15px 5px 27px 10px;
    min-height: 670px;
    _height: 670px;
    background-color: #F8F8F8;
    *padding: 15px 5px 27px 5px;
}

/**
 *左菜单-右内容结构的通用定义
 */
.main-left {
    width: 170px;
    float: left;
}
.main-right {
    margin-left: 187px;
    margin-right: 90px;
    /*width: 1048px;*/
    overflow: hidden;
}
.menu-sep {
    margin-top: 20px;
}
.ui-tab-item-container {
}

/**
 * 问题定位表
 */
.ist-tree-table {}
.ist-tree-table-title {
    width: 408px;
    font-weight: bold;
    height: 22px;
}
.ist-tree-table table {
    table-layout: fixed;
}
.ist-tree-table-head {}
.ist-tree-table-body {
    width: 498px;
}
.ist-tree-table-hcell-left {
    border-left: 1px solid #50A0C9;
}
.ist-tree-table-hcell {
    font-size: 12px;
    background: #8ED0F3;
    color: #004E7F;
    border-top: 1px solid #50A0C9;
    border-right: 1px solid #50A0C9;
    border-bottom: 1px solid #50A0C9;
    padding: 3px 3px;
    vertical-align: middle;
    cursor: default;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}
.ist-tree-table-hcell-sort {
    padding-right: 14px;
    background-image: url(img/icon2.png);
    background-position: right -240px;
    background-repeat: no-repeat;
}
.ist-tree-table-hcell-sort-desc {
    background-image: url(img/icon2.png);
    background-position: right -296px;
    background-repeat: no-repeat;
}
.ist-tree-table-hcell-sort-asc {
    background-image: url(img/icon2.png);
    background-position: right -352px;
    background-repeat: no-repeat;
}
.ist-tree-table-cell {
    overflow: hidden;
    font-size: 12px;
    background: #FFF;
    border-right: 1px solid #CCC;
    border-bottom: 1px solid #CCC;
    height: 30px;
    line-height: 30px;
    padding: 0px 3px
}
.ist-tree-table-cell-left {
    border-left: 1px solid #CCC;
}
.ist-tree-table-row {
    border-left: 1px solid #CCC;
}
.ist-tree-table-cell-align-right {
    text-align: right;
}
.ist-tree-table-cell-align-center {
    text-align: center;
}
.ist-tree-table-cell input {
    vertical-align: middle;
    margin-right: 6px;
}
.ist-tree-table-cell span {
    vertical-align: middle;
}

.console-floater {
    padding: 5px;
    border: 1px solid #9ABCD1;
    background-color: #F8F8F8;
    box-shadow: 3px 3px 4px #999;
    border-radius: 5px;
}