/**
 * console-edit.css
 * Copyright 2012 Baidu Inc. All rights reserved.
 *
 * @file:     报表编辑模块
 * @author:  xxx(xxx)
 */

/**
 * 标记且功能性css，在console会起标记作用
 * 规则：去掉c-前缀就是di.css中定义的标记css
 */
.c-di-o_o-body {
    height: auto;
    min-height: 20px;
    max-height: auto;
    width: auto;
    min-width: 100px;
    max-width: auto;
}
.c-di-o_o-block {
    border: 2px solid #9ABCD1;
    padding: 3px;
    height: auto;
    min-height: 50px;
    max-height: auto;
    width: auto;
    min-width: 100px;
    max-width: auto;
}
.c-di-o_o-line {
    margin: 3px;
    padding: 3px;
    border: 2px solid #DDD;
    border-radius: 3px;
    height: 24px;
    min-height: 20px;
    max-height: auto;
    width: auto;
    min-width: 100px;
    max-width: auto;
}
.c-di-o_o-hover {
    border: 2px solid #9ABCD1;
    box-shadow: 0 0 3px 3px #9ABCD1;
}
.c-di-o_o-line-hover {
    border: 2px solid #9ABCD1;
    box-shadow: 0 0 3px 3px #9ABCD1;
}
.c-di-o_o-item {
    /*height: 24px;*/
    border: 2px solid #FFF;
    vertical-align: middle;
    display: inline-block;
    *display: inline;
    *zoom: 1;
    border-radius: 3px;
    text-shadow: 0 1px 0 #ffffff;
    height: auto;
    min-height: 10px;
    max-height: auto;
    width: auto;
    min-width: 20px;
    max-width: auto;
}
.c-di-o_o-hide {
    background: #EEE;
}
.c-di-o_o-item:hover {
    border: 2px solid #DDD;
    height: auto;
    min-height: 10px;
    max-height: auto;
    width: auto;
    min-width: 20px;
    max-width: auto;
}
.c-di-o_o-cond-vui {
    /* 临时，使用宽度显示entity，而非控件的实际样式 */
    border: 2px solid #EEE;
    width: 50px;
    height: 20px;
}
.c-di-o_o-space-l1 {
    margin-left: 20px;
}
.c-di-o_o-item-fake {
    border: 2px solid #AAA;
}
.vu-table {
    min-height: 10px;
    height: auto;
}

.olap-editor {
    border-top: 1px solid #FFF;
}
.olap-editor-data {
    background-color: #FFF;
}
.olap-editor-operation {
    padding-top: 20px;
    margin: 0 15px 0 15px;
}
.olap-editor-data {
    margin: 20px 15px 0 15px;
}
.olap-editor-name {
    margin-top: 10px;
}

/**
 * pivot table
 */
.pivot-table {
    height: 500px;
}

/**
 * plane editor
 */
.plane-editor-desc {
    margin-top: 10px;
}
.plane-editor-sql-input,
.plane-editor-sql-actual {
    margin: 10px 0 10px 0;
    width: 600px;
}
.plane-editor-label-line {
    margin-top: 10px;
}   
.plane-editor-preview {
    margin-top: 20px;
}
.plane-editor-name {
    margin-top: 10px;
}

/**
 * plane table
 */
.plane-table {
    height: 500px;
    margin: 10px 0 10px 0;
}

/**
 * vtpl
 */
.vtpl-panel-page-btns {
    margin: 5px 0 10px 0;
    vertical-align: middle;
}
.vtpl-preview-config-phase {
    border: 1px solid #9ABCD1;
    display: inline-block;
    padding: 4px 4px;
    border-radius: 5px;
    margin-bottom: 10px;
    *display: inline;
    *zoom: 1;
    vertical-align: middle;
}
.vtpl-preview-config-phase input {
    vertical-align: middle;
}
.vtpl-preview-config-phase span {
    vertical-align: middle;
}
.vtpl-preview-config-report-url,
.query-extend-param,
.vtpl-preview-config-data {
    margin-top: 10px;
    display: inline-block;
    *display: inline;
    *zoom: 1;
    width: 500px;
    resize: none;
}

/**
 * vtpl quick editor
 */
.vtpl-quick-editor-cond {
    width: 700px;
    padding: 10px;
    background: #FDFDFD;
    margin-bottom: 20px;
    border-radius: 5px;
}
.vtpl-quick-editor-cond-layout {
    margin-top: 10px;
}
.vtpl-quick-btn-phase {
    margin: 5px 0 0 0;
}
.vtpl-quick-btn-phase-item {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    cursor: pointer;
    padding: 4px 6px;
    border-radius: 5px;
    border: 1px solid #9ABCD1;
    background: #EAF3F8; 
    vertical-align: middle;
}
.vtpl-quick-btn-phase-item input,
.vtpl-quick-btn-phase-item span {
    vertical-align: middle;
}

.vtpl-quick-ep-layout {
    margin-top: 10px;
    padding: 10px;
    background: #FFF;
    border-radius: 5px;
    max-width: 1040px;
    overflow: auto;
}
.vtpl-quick-ep-ds-line1 {
    font-weight: bold;
}
.vtpl-quick-ep-ds-line2 {
    margin: 5px 0 5px 0;
}
.vtpl-quick-ep-ds-list {
    margin: 5px 0 0 0;
}
.vtpl-quick-ep-ds-item {
    /*border: 1px solid #DDD;*/
    border-radius: 3px;
    padding: 3px;
}
.vtpl-quick-ep-ds-item-hover {
    /*border: 1px solid #9ABCD1;*/
    background: #9ABCD1;
}
.vtpl-quick-ep-ds {
    max-width: 1040px;
    background-color: #FDFDFD;
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
}
.vtpl-quick-ep-cond {
    margin-top: 10px;
}
.vtpl-quick-text-label {
    margin-left: 5px;
    vertical-align: middle;
}


.vtpl-code {
    margin-top: 5px;
}
.vtpl-code .CodeMirror {
    height: 600px;
    width: 940px;
}
.vtpl-name-input {
    margin-right: 10px;
}
.page-preview {
    overflow: auto;
    width: 1200px;
}


.cond-config-panel-x-cal-opt {
    width: 450px;
    height: 300px;
    vertical-align: middle;
}
.cond-config-panel-x-cal-set {
    margin-top: 5px;
}

.ui-item-mark .ui-tab-item-text {
    text-decoration: underline;
}

.meta-candidate-inds,
.meta-candidate-dims {
    width: 600px;
    margin: 5px 0 10px 0;
}
.meta-candidate-line-label {
    font-weight: bold;
    margin-top: 5px;
    color: blue;
}
.meta-candidate-btns {
    margin: 5px 0;
}
.meta-candidate-sep {
    border-top: 1px solid #CCC;
    padding-top: 20px;
}
.meta-candidate-item {
    white-space: nowrap;
    margin-right: 3px;
}
.meta-candidate-item span,
.meta-candidate-item input {
    vertical-align: middle;
    white-space: normal;
}

.page-preview {
    margin-top: 10px;
}

.data-format-config {
    height: 300px;
    width: 320px;
    overflow: auto;
}

.data-format-config-charactor {
    font-family: 微软雅黑;
    font-weight: bold;
    font-size: 110%;
}

.data-format-config-item {
    margin-top: 5px;
    margin-bottom: 10px;
    text-align: right;
}

.report-release {
	padding-top: 10px;
}
.report-release-list {
	margin: 10px auto;
}
.report-release-block {
	display: inline-block;
	width: 250px;
	margin: 0 10px 10px 0;
	vertical-align: top;
}
.report-release-img {
	width: 220px;
	height: 190px;
	display: block;
	margin: 0 5px 5px 0;
    cursor: pointer;
    border: 1px solid #8AA6BE;
}
.report-release-img:hover {
    box-shadow: 0px 0px 3px 3px #56ABD8;
}