<!DOCTYPE html>
<html>

#set($webRoot=$!link.getContextPath())

<head>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <title>自助分析平台</title>
	<link rel="stylesheet" href="$!{webRoot}/asset-c/css/di-console.css?__di__=1_0_0" />
</head>

<body>
	<div id="header" class="head">
	    <div class="frame-width">
    		<div class="logo-left"></div>
    		<div class="global-menu-area">
                <div class="global-menu q-global-menu"></div>
    		</div>
    		<div class="logo-right">
    			<div class="login">
    				<span>欢迎 <b><span id="userName"></span></b></span>
    				<a href="#" id="Logout" >[退出]</a>
    				<span>|</span>
    				<a href="mailto:mengran@baidu.com?subject=Questions and Suggestions for Data-Insight" id="WeedBack">反馈问题及建议</a>
    				<span style="display:none">|</span>
    				<a style="display:none" href="help.html" class="wired-a" target="_blank">帮助</a>
    			</div>
    		</div>
    		<div class="clear"></div>
		</div>
	</div>
	
	<div class="content-real">
    	<div class="content-inner">
    	<div style="width:100%">
    	<span align="left" style="width:50%"><a href="showdatasource.action?productLine=$productLine">数据源管理</a></span>
    	<span align="right" style="width:50%"><a href="showAddConnInfo.action?productLine=$productLine&id=$id">添加数据库连接</a></span>
    	</div>
   	<table align="center">
   	<tr>
   	<th>
   	数据库连接URL
   	</th>
   	<th>
   	用户名
   	</th>
   	<th>
   	描述
   	</th>
   	
   	<th>
   	操作
   	</th>
   	</tr>
   	
   	#foreach($connInfo in $!conntionInfos)
   		<tr align="center">
	     <td>
	     	$connInfo.jdbcUrl
	     </td>
	      <td>
	     	$connInfo.username
	     </td>
	      <td>
	     	$connInfo.description
	     </td>
	      <td >
	     	<a href="delconn.action?connInfoId=$connInfo.id&productLine=$productLine&id=$id">删除</a>
	     </td>
	    </tr>
	#end
	
	</table>
    	</div>
	</div>
	<div align="center">数据连接发生改变必须激活数据源才能生效，如果不激活数据源的话只有重启才能生效！</div>
	<div class="foot frame-width" align="center">
		<span>友情链接：<a href="#" target="_blank" style="color:#666666">Pulse</a></span>
		<span>&nbsp;|&nbsp;</span>
		<span>&copy;2013&nbsp;Baidu</span>
	</div>

	
</body>
</html>
