
html {
}
body {
    border: 0 none;
    font-family: Arial,'宋体',Verdana,sans-serif;
    font-size: 12px;
    line-height: 150%;
    margin: 0 auto;
    padding: 0;
    text-align: left;
}
img {
    border: 0 none;
}
table td, table th {
    text-align: left;
    word-break: break-all;
    word-wrap: break-word;
}
p, h5, form, ul, li {
    list-style: none outside none;
    margin: 0;
}
a {
    color: #0100FE;
}
a.disabled {
    color: #CCCCCC;
}
.nav {
    background: url("img/global_bg.png") repeat-x scroll 0 -125px transparent;
    color: #366401;
    height: 25px;
}
.nav p {
    background: url("img/icon.gif") no-repeat scroll 0 -70px transparent;
    margin-left: 16px;
    padding: 3px 0 0 20px;
}
h4 {
    color: #326602;
    font-family: '黑体';
    font-size: 16px;
    font-weight: normal;
    height: 19px;
    margin: 0;
    padding: 14px 18px 0;
}
h4 b {
    margin-right: 9px;
}
h4 span {
    font: 12px/19px arial;
}
.wrapper {
    margin: 10px 18px;
    min-width: 750px;
}
.wrapper h4 {
    padding-left: 0;
}
* html .wrapper {
}
.area-w {
    background: none repeat scroll 0 0 #CCE9B9;
    height: 1px;
    margin: 0 2px;
    overflow: hidden;
}
.area-v {
    background: none repeat scroll 0 0 #F3FBEC;
    border-left: 1px solid #CCE9B9;
    border-right: 1px solid #CCE9B9;
    height: 1px;
    margin: 0 1px;
    overflow: hidden;
}
.area {
    background: none repeat scroll 0 0 #F3FBEC;
    border-left: 1px solid #CCE9B9;
    border-right: 1px solid #CCE9B9;
    padding: 6px 12px;
}
.area h5 {
    border-bottom: 1px solid #FFFFFF;
    color: #356502;
    font-size: 14px;
}
.area h5 b {
    border-bottom: 1px solid #DFF4CD;
    display: block;
    padding: 2px 0 4px;
}
.mess .area-w {
    background: none repeat scroll 0 0 #F6DFCD;
}
.mess .area-v {
    background: none repeat scroll 0 0 #FFFFFF;
    border-left: 1px solid #F6DFCD;
    border-right: 1px solid #F6DFCD;
}
.mess .area {
    background: none repeat scroll 0 0 #FEFBF6;
    border-left: 1px solid #F6DFCD;
    border-right: 1px solid #F6DFCD;
}
.mess-query .area-w {
    background: none repeat scroll 0 0 #9CD167;
}
.mess-query .area-v {
    background: none repeat scroll 0 0 #FFFFFF;
    border-left: 1px solid #9CD167;
    border-right: 1px solid #9CD167;
}
.mess-query .area {
    background: none repeat scroll 0 0 #FFFFFF;
    border-left: 1px solid #9CD167;
    border-right: 1px solid #9CD167;
    padding: 0 1px;
}
.mess-query .area-inner {
    background: none repeat scroll 0 0 #DCEFD1;
    padding: 6px 15px;
}
.tag-zone {
    padding-top: 32px;
    position: relative;
}
.tag-head {
    left: 0;
    padding-left: 4px;
    position: absolute;
    top: 0;
}
.tag-head-tag {
    float: left;
    height: 34px;
    margin-right: 4px;
    overflow: hidden;
    width: 130px;
}
.tag-head-tag .area-w {
    background: none repeat scroll 0 0 #D1D1D1;
}
.tag-head-tag .area-v {
    border-color: #D1D1D1;
}
.tag-head-tag p {
    background: none repeat scroll 0 0 #F3F3F3;
    border-left: 1px solid #D1D1D1;
    border-right: 1px solid #D1D1D1;
    cursor: pointer;
    font-size: 14px;
    height: 24px;
    overflow: hidden;
    padding: 6px 0 0;
}
.tag-head-tag p {
    background-image: url("img/icon.gif");
    background-position: 8px -115px;
    background-repeat: no-repeat;
    padding-left: 30px;
}
.tag-head .current p {
    background-color: #F3FBEC;
    border-left: 1px solid #CCE9B9;
    border-right: 1px solid #CCE9B9;
    color: #326601;
    cursor: default;
    font-weight: bold;
    height: 25px;
}
.tag-head-tag p a {
    color: #4B4B4B;
    text-decoration: none;
}
.current .area-w {
    background: none repeat scroll 0 0 #CCE9B9;
}
.current .area-v {
    border-color: #CCE9B9;
}
.tag-cont {
    background: none repeat scroll 0 0 #F3FBEC;
    border-left: 1px solid #CCE9B9;
    border-right: 1px solid #CCE9B9;
    padding: 15px;
}
.tag-v {
    background: none repeat scroll 0 0 #F3FBEC;
    border-left: 1px solid #CCE9B9;
    border-right: 1px solid #CCE9B9;
    height: 1px;
    margin: 0 1px;
    overflow: hidden;
}
.num .tag-head-tag {
    width: 170px;
}
.tag-tab {
    border-bottom: 1px solid #CCE9B9;
}
.tag-tab .tag-head .current p {
    height: 24px;
}
.tag-tab .tag-head-tag {
    width: 100px;
}
.tag-b p {
    background-position: 8px -297px;
}
.tag-c p {
    background-position: 8px -324px;
}
.query input, .query select {
    color: #7F7F7F;
    font-size: 12px;
    margin-right: 8px;
    vertical-align: middle;
}
.query select {
    height: 21px;
    padding-top: 0;
}
input.time {
    background: url("img/icon.gif") no-repeat scroll right -222px #FFFFFF;
    border: 1px solid #7F9DB9;
    height: 15px;
}
input.btn-g, input.btn-r, input.btn-g-l, input.btn-g-m {
    background: url("img/btn.gif") repeat scroll 0 0 transparent;
    border: 0 none;
    color: #336601;
    cursor: pointer;
    font-size: 14px;
    height: 24px;
    margin-right: 19px;
    padding-top: 0;
    text-align: center;
    width: 81px;
}
input.btn-r {
    background-position: 0 -45px;
    color: #895526;
}
input.btn-g-l {
    background: url("img/btn2.png") repeat scroll 0 0 transparent;
    width: 189px;
}
input.btn-g-m {
    background: url("img/btn2.png") no-repeat scroll 0 -24px transparent;
    width: 105px;
}
h5.icon-a b, h5.icon-b b, h5.icon-c b, h5.icon-d b, h5.icon-e b {
    background: url("img/icon.gif") no-repeat scroll 0 -145px transparent;
    padding-left: 20px;
}
h5.icon-b b {
    background-position: 0 -170px;
}
h5.icon-c b {
    background-position: 0 -195px;
}
h5.icon-d b {
    background-position: 0 -248px;
}
h5.icon-e b {
    background-position: 0 -273px;
}
.mess .icon-warning {
    background-image: url("img/warning.gif");
    background-position: 10px 8px;
    background-repeat: no-repeat;
    padding-left: 30px;
}
.clear {
    clear: both;
    height: 0;
    overflow: hidden;
    width: 0;
}
.air {
    margin-top: 10px;
}
.land {
    margin-bottom: 10px;
}
.tip-r {
    color: #FF0000;
}
.tip-r-m {
    color: #FF0000;
    margin-left: 10px;
}
.split-line {
    border-bottom: 1px dashed #000000;
    clear: both;
    height: 1px;
    margin-bottom: 5px;
    margin-top: 10px;
    overflow: hidden;
}
body.middlePage {
    background: none repeat scroll 0 0 #FFFFFF;
    text-align: center;
}
body.middlePage .wrapper {
    font-size: 14px;
    margin: 100px auto;
    min-width: 500px;
    text-align: left;
    width: 500px;
}
.mess div.icon-error {
    background-image: url("img/error.gif");
    background-position: 10px 8px;
    background-repeat: no-repeat;
    padding-left: 30px;
}
.errorMessage {
    color: #FF0000;
    padding: 10px 0;
}
.readme p {
    margin-bottom: 10px;
}
.readme li {
    list-style-type: disc;
    margin-bottom: 5px;
    margin-left: 30px;
}
.readme .l2 li {
    list-style: circle outside none;
}

.ec-calendar {
    margin: 1px auto 0;
    text-align: center;
    width: 175px;
}
.time-single {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #95AAC9;
    height: 168px;
    width: 177px;
}
.date-content-sel {
    height: 25px;
    padding: 0;
}
.date-content-sel table {
    background: url("img/calendar.gif") repeat-x scroll left bottom #EBF9E9;
    border-collapse: collapse;
    margin: 2px auto 0;
    width: 177px;
}
.date-content-sel table td {
    height: 19px;
    line-height: 19px;
    padding: 0 0 2px;
}
.ec-ecom-calendar-range {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #DCDCDC;
    height: 224px;
    padding: 5px 0 5px 10px;
    width: 375px;
    z-index: 32769;
}
.time-begin, .time-end {
    display: inline-block;
    margin-bottom: 5px;
    width: 184px;
}
.time-reset {
    background: url("img/calendar.gif") no-repeat scroll -88px -4px transparent;
    cursor: pointer;
    height: 14px;
    margin: 0 0 0 5px;
    width: 14px;
}
.calendar-error {
    color: red;
}
.ec-range-calendar-begin-error .begin {
    display: inline;
}
.ec-range-calendar-end-error .end {
    display: inline;
}
.ec-ecom-calendar-range .ec-edit {
    border: 0 none;
}
.time-single .text-label, .ec-range-calendar .text-label {
    display: block;
    left: -2px;
    position: relative;
    top: 2px;
}
.ec-calendar-name {
    height: 20px;
}
.ec-calendar-name-item {
    background: none repeat scroll 0 0 #E2F6E0;
    border-left: 1px solid #E2F6E0;
    border-top: 1px solid #E2F6E0;
    color: #000000;
    font-weight: bold;
    padding-top: 3px;
}
.ec-calendar-date {
    border: 0 none;
    height: 120px;
}
.ec-calendar-date-item {
    background: none repeat scroll 0 0 #FFFFFF;
    color: #000000;
    cursor: pointer;
    font-size: 11px;
    padding-top: 3px;
}
.ec-calendar-date-item-over {
    background: none repeat scroll 0 0 #E2F6E0;
}
.ec-calendar-date-item-disabled {
    color: #CCCCCC;
}
.ec-calendar-date-item-selected {
    background: none repeat scroll 0 0 #7DBA7A;
    color: #FFFFFF;
}
.ec-ecom-calendar-edit {
    height: 20px;
    margin: 0;
    position: relative;
}
.ec-ecom-calendar-edit-single, .ec-ecom-calendar-edit-range {
    background: url("img/calendar.gif") no-repeat scroll right -22px #FFFFFF;
    border: 1px solid #7F9DB9;
    padding: 0;
    width: 110px;
}
.ec-ecom-calendar-edit-range {
    width: 200px;
}
.ec-ecom-calendar-edit-single input, .ec-ecom-calendar-edit-range input {
    background: none repeat scroll 0 0 transparent;
    border: 0 none;
    margin: 0;
    width: 75px;
}
.ec-ecom-calendar-edit-range input {
    width: 170px;
}
.ec-ecom-calendar-clear {
    background: url("img/calendar.gif") no-repeat scroll -88px -4px transparent;
    bottom: 0;
    cursor: pointer;
    height: 14px;
    right: 20px;
    width: 14px;
}
.ec-edit {
    border: 1px solid black;
    height: 18px;
    width: 106px;
}
.ec-select {
    margin-bottom: -1px;
}
.ec-text, .ec-select {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #CCCCCC;
    height: 17px;
    width: 40px;
}
.ec-select-options {
    border: 1px solid #CCCCCC;
}
.ec-select-options-layout {
    background: none repeat scroll 0 0 #FFFFFF;
}
.ec-select-button {
    background: url("img/select.jpg") no-repeat scroll 0 0 transparent;
}
.ec-select-over .ec-select-button {
    background: url("img/select.jpg") no-repeat scroll -17px 0 transparent;
}
.ec-select-press .ec-select-button {
    background: url("img/select.jpg") no-repeat scroll -34px 0 transparent;
}
.ec-select-item {
    cursor: default;
    height: 15px;
    line-height: 16px;
}
.ec-select-text {
    cursor: default;
    height: 15px;
    line-height: 16px;
    padding-left: 2px;
}
.ec-select-item-over {
    background: none repeat scroll 0 0 #7D9FFF;
    color: #FFFFFF;
}
.year-select {
    width: 55px;
}
.month-select {
    width: 45px;
}
.prev, .next {
    background: url("img/calendar.gif") no-repeat scroll -21px -2px transparent;
    cursor: pointer;
    height: 18px;
    margin-bottom: -4px;
    padding: 0;
    width: 21px;
}
.next {
    background-position: -42px -2px;
    float: right;
}
.prev-disabled {
    background-position: -1px -2px;
}
.next-disabled {
    background-position: -63px -2px;
}
.ec-checkbox {
    background: url("img/cr.gif") no-repeat scroll 0 0 transparent;
    height: 15px;
    width: 17px;
}
.ec-checkbox-checked {
    background: url("img/cr.gif") no-repeat scroll -34px 0 transparent;
}
.ec-checkbox-over {
    background: url("img/cr.gif") no-repeat scroll -17px 0 transparent;
}
.ec-checkbox-checked-over {
    background: url("img/cr.gif") no-repeat scroll -51px 0 transparent;
}
.ec-checkbox-part {
    background: url("img/cr.gif") no-repeat scroll -102px 0 transparent;
}
.ec-check-tree {
    background: url("img/tree_bak.gif") no-repeat scroll 0 0 transparent;
    cursor: default;
    padding-left: 20px;
}
.ec-check-tree-fold {
    background: url("img/tree_bak.gif") no-repeat scroll 0 -19px transparent;
}
.ec-check-tree-empty {
    background: none repeat scroll 0 0 transparent;
}
.ec-check-tree-items {
    margin-left: 10px;
}
.ec-check-tree-checkbox-checked {
    background: url("img/cr.gif") no-repeat scroll -34px 0 transparent;
}
.ec-check-tree-checkbox-checked-over {
    background: url("img/cr.gif") no-repeat scroll -51px 0 transparent;
}
.ec-combox {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #CCCCCC;
    height: 17px;
    width: 120px;
}
.ec-combox-options {
    border: 1px solid #CCCCCC;
}
.ec-combox-options-layout {
    background: none repeat scroll 0 0 #FFFFFF;
}
.ec-combox-button {
    background: url("img/select.jpg") no-repeat scroll 0 0 transparent;
}
.ec-combox-over .ec-combox-button {
    background: url("img/select.jpg") no-repeat scroll -17px 0 transparent;
}
.ec-combox-press .ec-combox-button {
    background: url("img/select.jpg") no-repeat scroll -34px 0 transparent;
}
.ec-combox-item {
    cursor: default;
    height: 15px;
    line-height: 15px;
}
.ec-combox-text {
    cursor: default;
    height: 15px;
    line-height: 15px;
    padding-left: 2px;
}
.ec-combox-item-over {
    background: none repeat scroll 0 0 #7D9FFF;
    color: #FFFFFF;
}
.ec-combox-options .ec-vscroll {
    background: none repeat scroll 0 0 #F0F0F0;
    font-size: 1px;
    padding: 15px 0;
    width: 15px;
}
.ec-combox-options .ec-hscroll {
    background: none repeat scroll 0 0 #F0F0F0;
    font-size: 1px;
    height: 15px;
    padding: 0 15px;
}
.ec-combox-options .ec-hscroll-block {
    background: url("img/hscroll.jpg") repeat-x scroll -2px -30px transparent;
}
.ec-combox-options .ec-vscroll-block {
    background: url("img/scroll.jpg") repeat-y scroll 0 0 transparent;
}
.ec-combox-options .ec-hscroll-block-over {
    background: url("img/hscroll.jpg") repeat-x scroll 0 -45px transparent;
}
.ec-combox-options .ec-hscroll-block-press {
    background: url("img/hscroll.jpg") repeat-x scroll 0 -60px transparent;
}
.ec-combox-options .ec-vscroll-block-over {
    background: url("img/scroll.jpg") repeat-y scroll -15px 0 transparent;
}
.ec-combox-options .ec-vscroll-block-press {
    background: url("img/scroll.jpg") repeat-y scroll -30px 0 transparent;
}
.ec-combox-options .ec-vscroll-prev {
    background: url("img/scroll.jpg") no-repeat scroll -45px -40px transparent;
}
.ec-combox-options .ec-vscroll-prev-over {
    background: url("img/scroll.jpg") no-repeat scroll -75px -40px transparent;
}
.ec-combox-options .ec-vscroll-prev-press {
    background: url("img/scroll.jpg") no-repeat scroll -60px -40px transparent;
}
.ec-combox-options .ec-vscroll-next {
    background: url("img/scroll.jpg") no-repeat scroll -45px -55px transparent;
}
.ec-combox-options .ec-vscroll-next-over {
    background: url("img/scroll.jpg") no-repeat scroll -75px -55px transparent;
}
.ec-combox-options .ec-vscroll-next-press {
    background: url("img/scroll.jpg") no-repeat scroll -60px -55px transparent;
}
.ec-combox-options .ec-hscroll-prev {
    background: url("img/scroll.jpg") no-repeat scroll -45px -85px transparent;
}
.ec-combox-options .ec-hscroll-prev-over {
    background: url("img/scroll.jpg") no-repeat scroll -75px -85px transparent;
}
.ec-combox-options .ec-hscroll-prev-press {
    background: url("img/scroll.jpg") no-repeat scroll -60px -85px transparent;
}
.ec-combox-options .ec-hscroll-next {
    background: url("img/scroll.jpg") no-repeat scroll -45px -70px transparent;
}
.ec-combox-options .ec-hscroll-next-over {
    background: url("img/scroll.jpg") no-repeat scroll -75px -70px transparent;
}
.ec-combox-options .ec-hscroll-next-press {
    background: url("img/scroll.jpg") no-repeat scroll -60px -70px transparent;
}
.ec-combox-options .vsblockdtr-bottom {
    background: url("img/scroll.jpg") no-repeat scroll -45px -18px transparent;
}
.ec-combox-options .vsblockdtr {
    padding: 2px 0;
}
.floaterd {
    padding-top: 3px;
}
.floaterd-top {
    background: none repeat scroll 0 0 #3B5C55;
}
.floaterd-bottom {
    display: none;
}
.floater {
    position: absolute !important;
}
.floater-title {
    background: url("img/global_bg.png") repeat-x scroll 0 -150px transparent;
    border-left: 1px solid #CBE9B7;
    border-right: 1px solid #CBE9B7;
    border-top: 1px solid #CBE9B7;
    color: #E2FEC4;
    cursor: move;
    font-size: 12px;
    font-weight: bold;
    height: 23px;
    left: 0;
    padding: 4px 10px 0 18px;
    position: absolute;
    top: 0;
    z-index: 1;
}
.floater-close {
    background: url("img/btn.gif") repeat scroll -83px -49px transparent;
    border: 0 none;
    cursor: pointer;
    display: block;
    float: right;
    font-size: 1px;
    height: 19px;
    position: absolute;
    right: 5px;
    top: 5px;
    width: 19px;
    z-index: 2;
}
.floater-content {
    background: none repeat scroll 0 0 #F3FBEC;
    border-bottom: 1px solid #CBE9B7;
    border-left: 1px solid #CBE9B7;
    border-right: 1px solid #CBE9B7;
    padding: 37px 18px 9px;
}
.floater-inner {
    overflow-x: hidden;
    overflow-y: auto;
}
.floater-corner {
    background: none repeat scroll 0 0 #FFFFFF;
}
.ec-foldable-title {
    border-bottom: 1px solid #DFF4CD;
    color: #356502;
    cursor: pointer;
    font-size: 14px;
    padding: 2px 0 4px 20px;
}
.ec-foldable-handler {
    float: right;
    margin: 3px 3px 0 0;
}
.ec-foldable-title-fold .ec-foldable-handler, .ec-foldable-title-unfold .ec-foldable-handler {
    height: 16px;
    width: 16px;
}
.ec-foldable-title-fold .ec-foldable-handler {
    background: url("img/remove.gif") no-repeat scroll 0 0 transparent;
}
.ec-foldable-title-unfold .ec-foldable-handler {
    background: url("img/add.gif") no-repeat scroll 0 0 transparent;
}
.icon-a .ec-foldable-title, .icon-b .ec-foldable-title, .icon-c .ec-foldable-title, .icon-d .ec-foldable-title, .icon-e .ec-foldable-title {
    background: url("img/icon.gif") no-repeat scroll 0 -145px transparent;
}
.icon-b .ec-foldable-title {
    background-position: 0 -170px;
}
.icon-c .ec-foldable-title {
    background-position: 0 -195px;
}
.icon-d .ec-foldable-title {
    background-position: 0 -248px;
}
.icon-e .ec-foldable-title {
    background-position: 0 -273px;
}
.ec-foldable-content {
    overflow: hidden;
    padding: 5px;
}
.ec-multi-select {
    border: 1px solid #7F7F7F;
    cursor: pointer;
    height: 17px;
    line-height: 17px;
    padding: 0;
    z-index: 2;
}
.ec-multi-select-button {
    background: url("img/select.jpg") no-repeat scroll 0 0 transparent;
    height: 17px;
    right: 0;
    top: 0;
    width: 17px;
}
.ec-multi-select-over .ec-multi-select-button {
    background-position: -17px 0;
}
.ec-multi-select-focus .ec-multi-select-button {
    background-position: -34px 0;
}
.ec-multi-select input {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 0 none;
    color: #000000;
    cursor: pointer;
    margin: 0;
}
.ec-multi-select-disabled input {
    background: none repeat scroll 0 0 #EEEEEE;
}
.ec-multiselect-options {
    border: 1px solid #7F7F7F;
}
.ec-multiselect-options-item {
    background: url("img/cr_v.gif") no-repeat scroll 2px 4px #FFFFFF;
    cursor: pointer;
    height: 20px;
    padding-left: 20px;
}
.ec-multiselect-options-item-over {
    background-color: #C2E8FF;
}
.ec-multiselect-options-item-selected {
    background-color: #6FADD1;
    background-position: 2px -86px;
    color: #FFFFFF;
}
.special-item {
    color: blue;
    font-weight: bold;
}
.ec-multi-select .ec-vscroll {
    background: none repeat scroll 0 0 #F0F0F0;
    font-size: 1px;
    padding: 15px 0;
    width: 15px;
}
.ec-multi-select .ec-hscroll {
    background: none repeat scroll 0 0 #F0F0F0;
    font-size: 1px;
    height: 15px;
    padding: 0 15px;
}
.ec-multi-select .ec-hscroll-block {
    background: url("img/hscroll.jpg") repeat-x scroll -2px -30px transparent;
}
.ec-multi-select .ec-vscroll-block {
    background: url("img/scroll.jpg") repeat-y scroll 0 0 transparent;
}
.ec-multi-select .ec-hscroll-block-over {
    background: url("img/hscroll.jpg") repeat-x scroll 0 -45px transparent;
}
.ec-multi-select .ec-hscroll-block-press {
    background: url("img/hscroll.jpg") repeat-x scroll 0 -60px transparent;
}
.ec-multi-select .ec-vscroll-block-over {
    background: url("img/scroll.jpg") repeat-y scroll -15px 0 transparent;
}
.ec-multi-select .ec-vscroll-block-press {
    background: url("img/scroll.jpg") repeat-y scroll -30px 0 transparent;
}
.ec-multi-select .ec-vscroll-prev {
    background: url("img/scroll.jpg") no-repeat scroll -45px -40px transparent;
}
.ec-multi-select .ec-vscroll-prev-over {
    background: url("img/scroll.jpg") no-repeat scroll -75px -40px transparent;
}
.ec-multi-select .ec-vscroll-prev-press {
    background: url("img/scroll.jpg") no-repeat scroll -60px -40px transparent;
}
.ec-multi-select .ec-vscroll-next {
    background: url("img/scroll.jpg") no-repeat scroll -45px -55px transparent;
}
.ec-multi-select .ec-vscroll-next-over {
    background: url("img/scroll.jpg") no-repeat scroll -75px -55px transparent;
}
.ec-multi-select .ec-vscroll-next-press {
    background: url("img/scroll.jpg") no-repeat scroll -60px -55px transparent;
}
.ec-multi-select .ec-hscroll-prev {
    background: url("img/scroll.jpg") no-repeat scroll -45px -85px transparent;
}
.ec-multi-select .ec-hscroll-prev-over {
    background: url("img/scroll.jpg") no-repeat scroll -75px -85px transparent;
}
.ec-multi-select .ec-hscroll-prev-press {
    background: url("img/scroll.jpg") no-repeat scroll -60px -85px transparent;
}
.ec-multi-select .ec-hscroll-next {
    background: url("img/scroll.jpg") no-repeat scroll -45px -70px transparent;
}
.ec-multi-select .ec-hscroll-next-over {
    background: url("img/scroll.jpg") no-repeat scroll -75px -70px transparent;
}
.ec-multi-select .ec-hscroll-next-press {
    background: url("img/scroll.jpg") no-repeat scroll -60px -70px transparent;
}
.ec-multi-select .vsblockdtr-bottom {
    background: url("img/scroll.jpg") no-repeat scroll -45px -18px transparent;
}
.ec-multi-select .vsblockdtr {
    padding: 2px 0;
}
.ec-pager {
    color: #346665;
    margin: 10px 0;
}
.ec-pager:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}
.ec-pager-item, .ec-pager-button {
    background: url("img/table.gif") repeat-x scroll 0 -150px transparent;
    border: 1px solid #9CD167;
    color: #326700;
    cursor: pointer;
    float: left;
    height: 20px;
    line-height: 20px;
    margin: 0 2px 0 0;
    padding: 0 3px;
}
.ec-pager-item-over {
    background-position: 0 -176px;
}
.ec-pager-item-press {
    background: none repeat scroll 0 0 #FFFCE2;
}
.page-num {
    text-align: center;
}
.ec-pager-item-disabled {
    background-color: #EEEEEE;
    background-image: none;
    color: #666666;
    font-weight: 400;
}
.ec-pager-item-cur {
    background-color: #FFFFFF;
    background-image: none;
    color: #000000;
    font-weight: 700;
    height: 20px;
}
.ec-pager-go {
    margin: 0 5px;
}
.ec-pager-go input, .ec-pager-go button {
    float: none;
    padding: 0;
    vertical-align: bottom;
}
.ec-pager-go button {
    margin-left: 10px;
}
.ec-pager-input {
    width: 25px;
}
.ec-pager-button {
    height: 22px;
}
.ec-pager-summary * {
    vertical-align: bottom;
}
.ec-pager em {
    color: #000000;
    display: inline-block;
    font-style: normal;
    padding: 0 3px;
}
.ec-radio-tree {
    background: url("img/radio_br.gif") no-repeat scroll 0 1px transparent;
    cursor: default;
    padding-left: 35px;
}
.ec-radio-tree-fold {
    background: url("img/radio_br.gif") no-repeat scroll 0 -33px transparent;
}
.ec-radio-tree-empty {
    background: url("img/radio_br.gif") no-repeat scroll 0 -67px transparent;
}
.ec-radio-tree-select {
    background: url("img/radio_br.gif") no-repeat scroll 0 -16px transparent;
}
.ec-radio-tree-empty-select {
    background: url("img/radio_br.gif") no-repeat scroll 0 -84px transparent;
}
.ec-radio-tree-fold-select {
    background: url("img/radio_br.gif") no-repeat scroll 0 -50px transparent;
}
.ec-radio-tree-items {
    padding-left: 10px;
}
.ec-inline-block {
    display: inline-block;
}
.ec-tab-title-wrapper {
    left: 0;
    position: relative;
    top: 1px;
}
.ec-tab-title-item, .ec-tab-title-item span {
    background: url("img/tab-bg.gif") no-repeat scroll right 0 transparent;
}
.ec-tab-title-item {
    background-position: left 0;
    border-bottom: 1px solid #CCE9B9;
    cursor: pointer;
    margin: 0 2px;
    padding-left: 3px;
}
.ec-tab-title-item span {
    -moz-user-select: none;
    font-size: 14px;
    padding: 5px 10px;
}
.ec-tab-title-item-selected {
    background-position: left -38px;
    border-bottom: 1px solid #F3FBEC;
    color: #FFFFFF;
}
.ec-tab-title-item-selected span {
    background-position: right -38px;
    color: #326601;
    font-weight: bold;
}
.ec-tab-title-scroll {
    background: url("img/arow-bgs.gif") no-repeat scroll 0 0 transparent;
    bottom: 0;
    cursor: pointer;
    height: 29px;
    width: 20px;
    z-index: 1;
}
.ec-tab-title-prev {
    bottom: 1px;
    left: 0;
}
.ec-tab-title-next {
    background-position: 0 -30px;
    bottom: 1px;
    right: 0;
}
div {
    border: 0 none;
}
.ec-ecom-table {
    position: relative;
}
.ec-ecom-table-disabled {
}
.ec-ecom-table-body .ec-vscroll {
    background: none repeat scroll 0 0 #FFFFFF;
    font-size: 1px;
    height: 0;
    padding: 15px 0;
    width: 15px;
}
.ec-ecom-table-body .ec-hscroll {
    background: none repeat scroll 0 0 #FFFFFF;
    font-size: 1px;
    height: 15px;
    padding: 0 15px;
}
.ec-ecom-table-body .ec-hscroll-block {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: url("img/hscroll.gif") repeat-x scroll -2px -30px transparent;
    border-color: #4099C5;
    border-image: none;
    border-style: solid;
    border-width: 0 1px;
}
.ec-ecom-table-body .ec-vscroll-block {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: url("img/scroll.gif") repeat-y scroll 0 0 transparent;
    border-color: #4099C5;
    border-image: none;
    border-style: solid;
    border-width: 1px 0;
}
.ec-ecom-table-body .ec-hscroll-block-over {
    background: url("img/hscroll.gif") repeat-x scroll 0 -45px transparent;
}
.ec-ecom-table-body .ec-hscroll-block-press {
    background: url("img/hscroll.gif") repeat-x scroll 0 -60px transparent;
}
.ec-ecom-table-body .ec-vscroll-block-over {
    background: url("img/scroll.gif") repeat-y scroll -15px 0 transparent;
}
.ec-ecom-table-body .ec-vscroll-block-press {
    background: url("img/scroll.gif") repeat-y scroll -30px 0 transparent;
}
.ec-ecom-table-body .ec-vscroll-prev {
    background: url("img/scroll.gif") no-repeat scroll -45px -40px transparent;
}
.ec-ecom-table-body .ec-vscroll-prev-over {
    background: url("img/scroll.gif") no-repeat scroll -75px -40px transparent;
}
.ec-ecom-table-body .ec-vscroll-prev-press {
    background: url("img/scroll.gif") no-repeat scroll -60px -40px transparent;
}
.ec-ecom-table-body .ec-vscroll-next {
    background: url("img/scroll.gif") no-repeat scroll -45px -55px transparent;
}
.ec-ecom-table-body .ec-vscroll-next-over {
    background: url("img/scroll.gif") no-repeat scroll -75px -55px transparent;
}
.ec-ecom-table-body .ec-vscroll-next-press {
    background: url("img/scroll.gif") no-repeat scroll -60px -55px transparent;
}
.ec-ecom-table-body .ec-hscroll-prev {
    background: url("img/scroll.gif") no-repeat scroll -45px -85px transparent;
}
.ec-ecom-table-body .ec-hscroll-prev-over {
    background: url("img/scroll.gif") no-repeat scroll -75px -85px transparent;
}
.ec-ecom-table-body .ec-hscroll-prev-press {
    background: url("img/scroll.gif") no-repeat scroll -60px -85px transparent;
}
.ec-ecom-table-body .ec-hscroll-next {
    background: url("img/scroll.gif") no-repeat scroll -45px -70px transparent;
}
.ec-ecom-table-body .ec-hscroll-next-over {
    background: url("img/scroll.gif") no-repeat scroll -75px -70px transparent;
}
.ec-ecom-table-body .ec-hscroll-next-press {
    background: url("img/scroll.gif") no-repeat scroll -60px -70px transparent;
}
.ec-ecom-table-body .vsblockdtr {
    padding: 2px 0;
}
.ec-ecom-table-body .vsblockdtr-top {
    background: url("img/scroll.gif") no-repeat scroll -45px 0 transparent;
}
.ec-ecom-table-body .vsblockdtr-bottom {
    background: url("img/scroll.gif") no-repeat scroll -45px -18px transparent;
}
.ec-ecom-table-body .vsblockdtr-over .vsblockdtr-top {
    background: url("img/scroll.gif") no-repeat scroll -45px -20px transparent;
}
.ec-ecom-table-body .vsblockdtr-over .vsblockdtr-bottom {
    background: url("img/scroll.gif") no-repeat scroll -45px -38px transparent;
}
.ec-ecom-table-body .vsblockdtr-press .vsblockdtr-top {
    background: url("img/scroll.gif") no-repeat scroll -60px 0 transparent;
}
.ec-ecom-table-body .vsblockdtr-press .vsblockdtr-bottom {
    background: url("img/scroll.gif") no-repeat scroll -60px -38px transparent;
}
.ec-ecom-table-body .hsblockdtr {
    padding: 0 2px;
}
.ec-ecom-table-body .hsblockdtr-left {
    background: url("img/hscroll.gif") no-repeat scroll -60px 0 transparent;
}
.ec-ecom-table-body .hsblockdtr-right {
    background: url("img/hscroll.gif") no-repeat scroll -18px 0 transparent;
}
.ec-ecom-table-body .hsblockdtr-over .hsblockdtr-left {
    background: url("img/hscroll.gif") no-repeat scroll -40px 0 transparent;
}
.ec-ecom-table-body .hsblockdtr-over .hsblockdtr-right {
    background: url("img/hscroll.gif") no-repeat scroll -38px 0 transparent;
}
.ec-ecom-table-body .hsblockdtr-press .hsblockdtr-left {
    background: url("img/hscroll.gif") no-repeat scroll -40px -15px transparent;
}
.ec-ecom-table-body .hsblockdtr-press .hsblockdtr-right {
    background: url("img/hscroll.gif") no-repeat scroll -38px -15px transparent;
}
.ec-ecom-table-body {
    background-color: #DCEFD1;
    border: 1px solid #9CD167;
    padding-top: 23px;
}
.ec-ecom-table-body table {
    border-collapse: collapse;
    border-spacing: 0;
}
.ec-ecom-table-body-layout {
    background: none repeat scroll 0 0 #FFFFFF;
    color: #333333;
}
.ec-ecom-table-body-area {
    background: none repeat scroll 0 0 #DCEFD1;
}
.ec-ecom-table-body-head, .ec-print-table th {
    border-bottom: 1px solid #9CD167;
    border-left: 1px solid #CCE9B9;
    color: #326700;
    font-weight: 700;
    overflow: hidden;
    padding: 6px 12px 6px 5px;
    white-space: nowrap;
    word-break: keep-all;
    word-wrap: normal;
}
.ec-ecom-table-body-item, .ec-print-table td {
    border-bottom: 1px solid #DDDDDD;
    border-left: 1px solid #DDDDDD;
    line-height: 15px;
    overflow: hidden;
    padding: 5px 12px 5px 5px;
    white-space: normal;
    word-break: break-all;
    word-wrap: break-word;
}
.ec-ecom-table-body-item div {
    line-height: 15px;
}
.ec-ecom-table-body .od td {
    background-color: #FFFFFF;
}
.ec-ecom-table-body .ev td {
    background-color: #F2F8EE;
}
.ec-ecom-table-body .od td.dk {
    background-color: #EAF1E2;
}
.ec-ecom-table-body .ev td.dk {
    background-color: #EAEFE1;
}
.ec-ecom-table-body-row-focus td.ec-ecom-table-body-item, .ec-ecom-table-body-row-over td.ec-ecom-table-body-item, .ec-ecom-table-body .ec-ecom-table-body-row-focus td.dk, .ec-ecom-table-body .ec-ecom-table-body-row-over td.dk {
    background-color: #FFFCE2;
}
.ec-ecom-table-body-row td.dk {
    background-color: #EEEEEE;
}
.ec-ecom-table-body-area .sort, .ec-ecom-table-body-area .sort-over, .ec-ecom-table-body-area .sort-focus {
    background: url("img/table.gif") no-repeat scroll 93% -33px transparent;
    cursor: pointer;
    text-align: left;
}
.ec-ecom-table-body-area .sort-over {
    background-color: #F6FFB8;
}
.ec-ecom-table-body-area .sort-up, .ec-ecom-table-body-area .sort-down {
    background: url("img/table.gif") no-repeat scroll 93% -33px #F6FFB8;
    cursor: pointer;
}
.ec-ecom-table-body-area .sort-up {
    background-position: 93% -63px;
}
.ec-ecom-table-body-area .sort-down {
    background-position: 93% -93px;
}
.ec-ecom-table-body-row .op {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: -moz-use-text-color -moz-use-text-color -moz-use-text-color #BCBCBC;
    border-image: none;
    border-style: none none none solid;
    border-width: 0 0 0 1px;
    text-align: center;
}
.ec-col-toggler, .ec-col-toggler-o {
    background: url("img/table.gif") no-repeat scroll 0 0 #D9E5E1;
    cursor: pointer;
    height: 20px;
    position: absolute;
    right: 0;
    top: 2px;
    width: 17px;
}
.ec-col-toggler-o {
    background-position: -22px 0;
}
.ec-v-toggler {
    background: none repeat scroll 0 0 #FFFFFF;
    border-left: 1px solid #BCBCBC;
    bottom: 0;
    cursor: pointer;
    position: absolute;
    right: 0;
    width: 15px;
}
.ec-v-toggler div {
    background: url("img/table.gif") no-repeat scroll -8px -22px transparent;
    bottom: 50%;
    cursor: pointer;
    height: 10px;
    overflow: hidden;
    position: absolute;
    right: 3px;
    width: 9px;
}
.valid-error .ev td.ec-ecom-table-body-item, .valid-error .od td.ec-ecom-table-body-item {
    background-color: #FFC0CB;
}
.ec-popup {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #D9E5E1;
    border-color: #BCBCBC;
    border-image: none;
    border-style: solid;
    border-width: 1px 1px 0;
    width: 70px;
}
.ec-popup-item {
    background-color: #D9E5E1;
    border-bottom: 1px solid #BCBCBC;
    cursor: pointer;
    height: 25px;
    line-height: 25px;
    padding-left: 24px;
    position: relative;
    vertical-align: bottom;
    width: 70px;
}
.ec-popup-item .ec-checkbox {
    border: 0 none;
    left: 4px;
    position: absolute;
    top: 4px;
}
.cb-ctnr {
    background: url("img/table.gif") repeat scroll 0 -200px #D9E5E1;
    border: 0 none;
    cursor: pointer;
    height: 14px;
    margin: 0;
    position: absolute;
    top: 7px;
    width: 15px;
}
.tb-msg {
    margin: 0 0 4px;
    visibility: hidden;
}
.tb-msg .tb-msg-txt {
    background: none repeat scroll 0 0 #FFFCE2;
    color: #D2691E;
    display: inline;
    font-weight: 700;
    height: 20px;
    line-height: 20px;
    padding: 0 4px;
}
.tb-msg .clo-btn {
    cursor: pointer;
    font-weight: 400;
    margin: 0 0 0 14px;
}
.ec-ecom-table-body .ec-panel-disabled .vsblockdtr div, .ec-ecom-table-body .ec-panel-disabled .hsblockdtr div {
    display: none;
}
.ec-ecom-table-body .checkbox, .ec-ecom-table-body .checkbox-item {
    padding-left: 0;
    padding-right: 0;
}
.ec-ecom-table-body-row td, .ec-v-toggler-over {
    background-color: #FFFFFF;
}
.ec-ecom-table-body-row-over .ev .ec-ecom-table-body-item, .ec-ecom-table-body-row-over td.dk, .ec-ecom-table-body-row-over .od .ec-ecom-table-body-item, .ec-ecom-table-body-row-over td.dk, .ec-ecom-table-body-row-focus .ev .ec-ecom-table-body-item, .ec-ecom-table-body-row-focus td.dk, .ec-ecom-table-body-row-focus .od .ec-ecom-table-body-item, .ec-ecom-table-body-row-focus td.dk, .ec-ecom-table-body-row-focus .ec-ecom-table-body-item, .ec-ecom-table-body-row-over .ec-ecom-table-body-item, .ec-popup-item-over {
    background-color: #FFFCE2;
}
.ec-checkbox-display, .ec-checkbox-disabled {
    background: url("img/cr.gif") no-repeat scroll -68px 0 transparent !important;
}
.ec-ecom-table-body-edit .ec-ecom-table-body-item div {
    position: relative;
}
.ec-ecom-table-body-item .ec-ecom-table-edit {
    border: 1px solid #7F7F7F;
    font-size: 12px;
    height: 15px;
    left: 0;
    margin: 0;
    padding: 0;
    position: absolute;
    top: -7px;
    z-index: 0;
}
.ec-ecom-table-body-item select.ec-ecom-table-edit {
}
.ec-ecom-table-body-item .link {
    color: blue;
    cursor: pointer;
    text-decoration: underline;
}
.ec-comment-cell {
    color: blue;
    cursor: pointer;
    overflow: hidden;
    white-space: nowrap;
    width: 130px;
    word-wrap: normal;
}
.ec-ecom-table-loading {
    background: url("img/table-loading.gif") no-repeat scroll 0 0 transparent;
    padding-left: 20px;
}
