div#DivContainer,
div#test-el,
div#test-el2
{
    overflow: scroll; border: solid 1px gray;
}
table 
{
    border-collapse: collapse; 
}
td 
{
    position: relative; padding: 5px;
    border-top: solid 0px gray; border-bottom: solid 1px gray; border-left: solid 0px gray; border-right: solid 1px gray;
}
td.Locked /* 水平与垂直方向锁住单元格, 不随鼠标或滚动条移动 */
{
    z-index: 30; position: relative; 
    top: expression(parentNode.parentNode.parentNode.parentNode.scrollTop); 
    left: expression(parentNode.parentNode.parentNode.parentNode.scrollLeft); 
    background-color: #cccccc; text-align: center; 
    border-top: solid 0px gray; border-bottom: solid 1px gray; border-left: solid 0px gray; border-right: solid 1px gray;
}
td.HLocked /* 水平方向锁住单元格 */
{
    z-index: 10; position: relative; left: expression(parentNode.parentNode.parentNode.parentNode.scrollLeft); 
    background-color: #cccccc; text-align: center; 
    border-top: solid 0px gray; border-bottom: solid 1px gray; border-left: solid 0px gray; border-right: solid 1px gray;
}
td.VLocked /* 垂直方向锁住单元格 */
{
    z-index: 20; position: relative; top: expression(parentNode.parentNode.parentNode.parentNode.scrollTop); 
    background-color: #cccccc; text-align: center; 
    border-top: solid 0px gray; border-bottom: solid 1px gray; border-left: solid 0px gray; border-right: solid 1px gray;
}