{"status":$!{status}, "data":[
    {"text": "岗位01", "value":1001},
    {"text": "岗位02", "value":1002},
    {"text": "岗位03", "value":1003},
    {"text": "岗位04", "value":1004},
    {"text": "岗位05", "value":1005}
]}
