{
    status: $!status,
    data: {
        id: 123,
        name: 'Rigel', 
        tag: 'hello',
        sysunitid: 1004,
        status: 1,
        postype: 0,
        positiontype2pri: '1002, 1003',
        positiontype1: 1003,
        positiontype2: '222,333',
        positiontype2option: [
            { id: 111, name: '岗位类型值1 ' },
            { id: 222, name: '岗位类型值2 ' },
            { id: 333, name: '岗位类型值3 ' }
        ],
        bindings: [
            {
                sysunitid: -1,
                positions: []
            },
            {
                sysunitid: 1002,
                positions: [
                    { id: 222, name: '绑定岗位1 ', select: 0 },
                    { id: 444, name: '绑定岗位2 ', select: 0 },
                    { id: 333, name: '绑定岗位3 ', select: 1 }
                ]
            },
            {
                sysunitid: 1003,
                positions: [
                    { id: 111, name: '绑定岗位1 ', select: 1 },
                    { id: 222, name: '绑定岗位2 ', select: 0 },
                    { id: 333, name: '绑定岗位3 ', select: 0 }
                ]
            }
        ],
        parents: [
            {
                sysunitid: -1,
                positions: []
            },
            {
                sysunitid: 1001,
                positions: [
                    { id: 111, name: '父岗位1 ', select: 1 },
                    { id: 222, name: '父岗位2 ', select: 0 },
                    { id: 333, name: '父岗位3 ', select: 0 }
                ]
            },
            {
                sysunitid: -1,
                positions: []
            }
        ],
        description: 'asdfasdfasdfasdfasdfsadfasdfasdfasdfsadfasdfasdfasdfsadfasdfasdfasdfsadfasdfasdfasdfsadfasdfasdfasdfsadfasdfasdfasdfsadfasdfasdfasdfsadfasdfasdfasdfsadfasdfasdfasdfsadfasdfasdfasdfsadfasdfasdfasdfsadfasdfsadf'
    }
}

