{   "status":$!status, 
    "data": {
        "dataList":[
            {"id": 1001, "tag": "tag1", "unitname": "系统单元名称功能名称功能名称功能名称功能名称", "unittypestr": "系统单元1", "unittype":1001, "status": 1, "desc": "aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa"},
            {"id": 1002, "tag": "tag2", "unitname": "系统单元名称2", "unittypestr": "系统单元2","unittype":1002, "status": 0, "desc": "这个是描这个是描述这个是描述这个是描述这个是描述述这个是描述这个是描述这个是描述这个是描述述这个是描述这个是描述这个是描述这个是描述述这个是描述这个是描述这个是描述这个是描述述"},
            {"id": 1003, "tag": "tag3", "unitname": "系统单元名称$!pager.page", "unittypestr": "系统单元3", "unittype":1003, "status": 0, "desc": "描述"},
            {"id": 1004, "tag": "tag4", "unitname": "系统单元名称4", "unittypestr": "系统单元4", "unittype":1004, "status": 1, "desc": "page:$!pager.page,pagesize:$!pager.pageSize,total:$!pager.total,sortinfo:$!sortInfo.orderby, sortby:$!sortInfo.sortby"},
            {"id": 1005, "tag": "tag5", "unitname": "系统单元名称5", "unittypestr": "系统单元5", "unittype":1005, "status": 1}
        ],
        "pager":{
            "page":$!pager.page, 
            "pagesize":$!pager.pageSize,
            "total":$!pager.total
        },
        "sortinfo": {
            "orderby": "$!sortInfo.orderby", 
            "sortby":"$!sortInfo.sortby"
        }
    }
}
