#**
 * 公共宏定义
 * 以下常量由后端提供
 * webRoot 本项目地址
 * portalRoot portal系统地址
 *#
#set($webRoot=$!link.getContextPath())

#**
 * 引入静态资源
 *#
#macro (includeStatic)
<link rel="stylesheet" href="$!{webRoot}/css/reset.css" type="text/css">
<link rel="stylesheet" href="$!{webRoot}/css/ecui.css"  type="text/css">
<link rel="stylesheet" href="$!{webRoot}/css/main.css"  type="text/css">
<script type="text/javascript" src="$!{portalRoot}/menu/showMenu.action"></script>
<script type="text/javascript" src="$!{webRoot}/js/tangram-1.5.2.1.js"></script>
<script type="text/javascript" src="$!{webRoot}/js/e-json.js"></script>
<script type="text/javascript" src="$!{webRoot}/js/ecui-2.0.1-source.js"></script>
<script type="text/javascript" src="$!{webRoot}/js/ecui-ext.js"></script>
<script type="text/javascript" src="$!{webRoot}/js/mustache.js"></script>
<script type="text/javascript" src="$!{webRoot}/js/rigel.js"></script>
<script type="text/javascript" src="$!{webRoot}/js/app.js"></script>
<script type="text/javascript">
pms.root = '$!webRoot';
</script>
#end

#**
 * 头部区域
 * 包含导航区域
 * @param {String} f_userName 用户名称
 * @param {String} f_curNavName 当前页面名称
 *#
#macro (header, $f_userName, $f_curNavName)
<div class="header">
    <h1>客户管理系统</h1>
    <div class="header-opt">$!{f_userName}&nbsp;|&nbsp;<a href="#">退出</a></div>
</div>
<div class="nav">
    <ul>
    #foreach ($item in $navList)
        <li #if($velocityCount == 1)class="first"#end>
            <a href="$!item.url" class="nav-item#if($item.name == $f_curNavName) current#end"><span class="nav-item-inner">$item.name</span></a>
            #if ($item.children)
                <div class="nav-pops" style="display:none">
                #foreach ($childItem in $item.children)
                   <a href="$!childItem.url" class="nav-pops-item"><span class="nav-pops-item-inner">$!childItem.name</span></a>
                #end
                </div>
            #end 
        </li>
    #end
    </ul>
</div>
#end

#**
 * @desc : 适用于数据确定的下拉列表、单选组、多选组，数据类型为List型
 * @param {String} name 表单项name属性值
 * @param {List} data 填充表单项value和label属性的值
 * @param {String} curVal 当前选中值
 * @param {String} flag 哪个类型的表单项(radio/select/checkbox)
 * @param {String} attrs 表单项其它的属性
 *#
#macro (list $name $data $curVal $flag $attrs)
    #set($fieldIndex = 0)
	#if($flag == "select")
		<select #if($name)name="$name"#end #evaluate($attrs)>
		#foreach($item in $data)
			<option value="$!item.value" #if($curVal == $!item.value)selected="selected"#end>$!utils.escapeInH($item.text)</option>
		#end
		</select>
	#elseif($flag == "checkbox")
		#foreach($item in $data)
		<input id="fieldIndex_${fieldIndex}" type="checkbox" #if($name)name="$name"#end value="$!item.value" #evaluate($attrs) #if($!item.isChecked)checked="checked"#end><label for="fieldIndex_${fieldIndex}">$!utils.escapeInH($item.text)</label>
		#set($fieldIndex = $fieldIndex + 1)
		#end
	#elseif($flag == "radio")
		#foreach($item in $data)
		<input id="fieldIndex_${fieldIndex}" type="radio" #if($name)name="$name"#end value="$!item.value" #evaluate($attrs) #if($!item.value == $curVal)checked="checked"#end><label for="fieldIndex_${fieldIndex}">$!utils.escapeInH($item.text)</label>
		#set($fieldIndex = $fieldIndex + 1)
		#end
	#end
#end


#**
 * @desc : 多选下拉框
 * @param {String} id DOM与ECUI元素id 
 * @param {String} name 表单元素name 
 * @param {List<Map>} data 选项
 * @param {List} value 
 * @param {String} ecuiAttrs ecui附加属性 
 * @param {String} attrs dom元素附加属性
 *#
#macro (multiselect $id $name $data $value $ecuiAttrs $attrs)
    #if($value)
        #set($value="value:" + $value + ";")
    #end
    <div id="${id}" ecui="type:multi-select;id:${id};name:${name};$!{value}$!{ecuiAttrs}" $!{attrs}>	
        #foreach($item in $data)
            <span ecui="value:$!{item.value}">$!utils.escapeInH($item.text)</span>
        #end
    </div>
#end
